/* -- General Styles -- */

html {
    font-family: sans-serif;
    font-size: 100%;
    -webtkit-tap-highlight-color: rgba(0,0,0,0);
    -webtkit-text-size-adjust: 100%;
    -ms-text-size-adjst: 100%;
}

body {
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgba(4, 30, 65, 0.9);
    background-color: rgb(221, 221, 221);
    /* background: no-repeat;
    background-image: url(./images/stillframe.JPG);
    background-attachment: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 50%; */
    width: 100%;
    display: block;
    height: auto;
}

/* -- Navbar Styles & Effects -- */

.side-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(17, 108, 226, 0.8);
    height: 100%;
    width: 17%;
    padding: 2%;
    padding-left: 0%;
    line-height: 3;
    text-align: left;
    border: 1px black;
    box-shadow: 3px 0px 10px rgba(0,0,0,0.8);
    text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
    z-index: 2;
}

#aboutPointer {
    display: inline;
    margin-left: 2%;
}

#currentPointer {
    display: none;
    margin-left: 2%;
}

#pastPointer {
    display: none;
    margin-left: 2%;
}

#futurePointer {
    display: none;
    margin-left: 2%;
}

#connectPointer {
    display: none;
    margin-left: 2%;
}

.headshot {
    position: relative;
    margin-left: 35%;
    height: 40%;
    width: 40%;
    filter: grayscale(0%);
    border: 1px black;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}

.headshot:hover {
    transform: scale(1.2);
    transition: transform 1s;
}

.side-bar-container ul {
    position: relative;
    display: block;
}

.side-bar-container a {
    color: rgb(241, 241, 241);
    font-size: 1.2em;
    text-decoration: none;
}

.side-bar-container a:hover {
    cursor: pointer;
    font-weight: 900;
}

.thumbnail {
    display: inline;
    position: relative;
    margin-top: 8%;
    margin-left: 20%;
    height: 20%;
    width: 20%;
    border: 1px black;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.8);
}

.thumbnail:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 1s;
}

/* -- Header Wrapper Styles & Effects -- */

.header-wrapper {
    position: relative;
    display: block;
    background-color: rgba(0,0,0,0);
    width: 73%;
    margin-left: 22%;
    padding: .5%;
    padding-top: 0%;
}

.header-wrapper h1 {
    line-height: 2;
    border-bottom: 5px double rgba(5, 48, 104, 0.8);
    padding: .5%;
    font-size: 300%;
    letter-spacing: 2px;
    text-align: left;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.header-wrapper h1:hover {
    transform: scale(1.05);
    transition: transform 1s;
}

/* -- General Container Styles & Effects -- */

.general-container {
    position: relative;
    background-color: rgba(236, 236, 236, 0.8);
    width: 71%;
    margin-left: 22%;
    padding: 2%;
    padding-top: 0%;
    line-height: 2;
    font-weight: 300;
    text-align: left;
    border: 1px black;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    text-shadow: 2px 2px 10px rgba(0,0,0,0);
}

#about {
    display: block;
}

#current {
    display: none;
}

#past {
    display: none;
}

#future {
    display: none;
}

.general-container h1:hover, h3:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.general-container h3:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.general-container p:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.general-container ul:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

/* -- Popup Styles & Effects -- */

.popup-container {
    position: fixed;
    bottom: .33%;
    right: .25%;
    background-color: rgba(236, 236, 236, 1);
    width: 40%;
    padding: 1%;
    padding-bottom: 5%;
    line-height: 2;
    font-weight: 300;
    text-align: center;
    border: 1px black;
    border-radius: 3px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    text-shadow: 2px 2px 10px rgba(0,0,0,0);
    z-index: 10;
}

#connect {
    display: none;
}

.popup-container h1:hover, h3:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.popup-container h3:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.popup-container p:hover {
    transform: scale(1.01);
    transition: transform 1s;
}

.popup-container h2 {
    position: fixed;
    display: block;
    top: 23.5%;
    right: 1%;
    font-size: 3em;
}

.popup-container h2:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.01);
    transition: transform 1s;
}

form input {
    margin: 2% auto;
    display: block;
    border-radius: 3px;
    line-height: 2;
    width: 40%;
    background-color: rgba(250, 250, 250, 0.8);
}

.submit input[type="submit"] {
    margin: 2% auto;
    display: block;
    border-radius: 3px;
    line-height: 2;
    width: 20%;
    color: rgb(241, 241, 241);
    font-weight: 600;
    background-color: rgba(17, 108, 226, 0.8);
}

.submit input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 3px rgba(58, 42, 42, 0.8);
    color: rgb(235, 235, 235);
    background-color: rgba(17, 108, 226, 1);
    transform: scale(1.05);
    transition: transform 1s;
}

.popup-container button {
    margin: 2% auto;
    display: block;
    border-radius: 3px;
    line-height: 2;
    width: 20%;
    color: rgb(26, 26, 26);
    font-weight: 600;
    background-color: rgb(241, 241, 241); 
}

.popup-container button:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 3px rgba(58, 42, 42, 0.8);
    background-color: rgb(220, 220, 220);
    transform: scale(1.05);
    transition: transform 1s;
}

/* -- Footer Styles & Effects -- */

.footer {
    bottom: 0;
    position: relative;
    display: block;
    bottom: 0;
    width: 81.5%;
    padding-right: 4%;
    margin-left: 19%;
    margin-bottom: 0;
    line-height: 2;
    background-color: rgba(102, 102, 102, 0.8);
    text-align: right;
    z-index: 1;
}

.footer h3:hover {
    transform: scale(1.01);
    transition: transform 1s;
}